body {
    overflow: auto; 
}
.header{
    width: 1280px;
    height: 130px;
    position: relative;
    top: 0;
    left: 0;
}
body{
    margin: 0;
}
/* kode css navigator */
body{
    background-color: rgb(53, 154, 170);
    background-size: cover;
}
* {
    margin: 0px;
    padding: 0px;
}
.header{
    display: auto;
    justify-content: center;
    width: 1280px;
    height: 130px;
    position: relative;
}
ul{
    list-style: none;
    background-color: rgb(83, 83, 237);
    position: relative;
    margin-top: -5px;
    width: 1280px;
    height: 60px;
}
ul li{
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}
ul li a{
    padding: 10px 0px;
    text-align: center;
}
ul a:hover{
    background-color: rgb(3, 3, 99);
}
ul li ul.dropdown li{
    display: block;
}
/* kode dropdown */
ul li ul.dropdown{
    background: rgb(112, 172, 177);
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}
ul li:hover ul.dropdown{
    display: block;
}
.footer{
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.column{
    background-color: rgb(109, 220, 237);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
}
h2{
    text-align: center;
    margin: 12px auto; 
}
.column {
    float: left;
    padding: 0 10px;
}
.column.middle {
    width: 100%;
    background-color: rgb(109, 220, 237);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.column.side {  
    width: 100%;
    background-color: rgb(57, 180, 199);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.img {
    width: 230px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}